**/node_modules
**/.env

# Hardhat files
blockchain/cache
blockchain/artifacts
blockchain/cache
blockchain/ignition/deployments

# TypeChain files
blockchain/typechain
blockchain/typechain-types

# solidity-coverage files
blockchain/coverage
blockchain/coverage.json

backend/abis/*
